{% extends "admin/change_list.html" %}

{% block content %}
  <div style="margin-bottom: 20px;">
    <h2>Relatórios</h2>
    
    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
    <!-- Relatório de Devedores -->
    <a href="{% url 'admin:relatorio_devedores' %}" class="button" style="padding: 6px 10px; font-size: 15px;">Gerar Relatório de Devedores</a>   
    <!-- Relatório de Leitores -->
    <a href="{% url 'admin:relatorio_leitores' %}" class="button" style="padding: 6px 10px; font-size: 15px;">Gerar Relatório de Leitores</a>
    </div>

    <div style="display: flex; flex-wrap: wrap; gap: 10px; margin-top: 10px;">
    <!-- Relatório de Empréstimos - Mês -->
    <form method="POST" action="{% url 'admin:relatorio_emprestimos_mensal' %}" style="display: inline;">
      {% csrf_token %}
      <label for="mes">Mês:</label>
      <select name="mes" id="mes">
        <option value="1">Janeiro</option>
        <option value="2">Fevereiro</option>
        <option value="3">Março</option>
        <option value="4">Abril</option>
        <option value="5">Maio</option>
        <option value="6">Junho</option>
        <option value="7">Julho</option>
        <option value="8">Agosto</option>
        <option value="9">Setembro</option>
        <option value="10">Outubro</option>
        <option value="11">Novembro</option>
        <option value="12">Dezembro</option>
      </select>

      <label for="ano">Ano:</label>
      <input type="text" name="ano" id="ano" placeholder="Digite o ano" required>  
      <button type="submit" class="button" style="padding: 6px 10px; font-size: 15px;">Gerar Relatório de Empréstimos - Mês</button>
    </form>

    <!-- Relatório de Empréstimos - Ano -->
    <form method="POST" action="{% url 'admin:relatorio_emprestimos_anual' %}" style="display: inline;">
      {% csrf_token %}
      <label for="ano">Ano:</label>
      <input type="text" name="ano" id="ano" placeholder="Digite o ano" required>
      <button type="submit" class="button" style="padding: 6px 10px; font-size: 15px;">Gerar Relatório de Empréstimos - Ano</button>
    </form>
    </div> 

  </div>

  {{ block.super }}
{% endblock %}
